@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "acid";
  default: true;
  --color-primary: oklch(65% 0.241 354.308);
  --radius-selector: 0rem;
  --radius-field: 0.25rem;
  --radius-box: 0rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
 
}

@plugin "daisyui/theme"{
  name: "synthwave";
  --radius-selector: 0rem;
  --radius-field: 0.25rem;
  --radius-box: 0rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 1;
}
